body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
}

form {
  padding: 50px;
  background-color: black;
}

.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.7);
  gap: 5px;
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #000000;
  background-color: rgb(217, 230, 253);
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

div#divEmail {
  display: inline-block;
}
